.grilla {
	display:grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
}

.cuadrado {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.topo {
	background-image: url("topo.jfif");
	background-size: cover;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-top: 0.5rem;
    margin-bottom: 0.5REM;
}

h2{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5REM;
}

body{
    background: linear-gradient(to right, rgb(245, 88, 88),purple);
    user-select: none;
}
